@model IEnumerable<HitApp.Models.Project>

@{
    ViewData["Title"] = "Dashboard";
}

@section Styling{
    <link href="~/css/Dashboard.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
}
<h2>Dashboard</h2>

<div id="tabs">
    <p>
        <a asp-controller="Projects" asp-action="Create">Create Project</a>
    </p>
    <p>
        <a asp-controller="Projects" asp-action="Index">View All</a>
    </p>
</div>
@foreach (var project in Model)
{
    @if (project.ProjectIsOnDashboard == true)
    {

        <div class="cards">
            <div class="left-card">
                <h3>@project.ProjectName</h3>
                <a href="/projects/details/@project.ProjectId"> See Details</a>
            </div>


            <div class="w3-light-grey w3-round-xlarge" style="width: 500px">
                <div class="progressBar" style="width: 0%"><span class="progress"></span>%</div>
            </div>

            <div class="right-card">
                <p>$<span class="projectTotalBudget">@project.ProjectTotalBudget</span> : Budget</p>
                <p>$<span class="projectTotalExpenses">@project.ProjectTotalExpenses</span> : Total Expenses:</p>
                ---------------------------------
                <p>
                    <span class="balance">$@(project.ProjectTotalBudget - project.ProjectTotalExpenses) : Balance</span>
                </p>

            </div>
        </div>
    }
}

@section Scripts{

    <script src="~/js/ProgressBar.js"></script>
}


@*
    @((project.ProjectTotalExpenses)/(project.ProjectTotalBudget/100))%
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProjectName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProjectStartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProjectEndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProjectDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProjectContractorInfo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProjectTotalBudget)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectStartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectEndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectContractorInfo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectTotalBudget)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProjectId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ProjectId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProjectId">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@
