@model HitApp.Models.Contractor

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Contractor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Company
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContractorCompany)
        </dd>
        <dt>
            Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContractorName)
        </dd>
        <dt>
            Service
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContractorService)
        </dd>
        <dt>
            Email
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContractorEmail)
        </dd>
        <dt>
            Phone
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContractorPhone)
        </dd>
        <dt>
            Website
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContractorWebsiteUrl)
        </dd>
        <dt>
            Address
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContractorAddress)
        </dd>
        <dt>
            City
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContractorCity)
        </dd>
        <dt>
            State
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContractorState)
        </dd>
        <dt>
            Zip Code
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContractorZip)
        </dd>
        <dt>
            Additional Notes
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContractorAdditionalNotes)
        </dd>
    </dl>
</div>

<div>
    <h3>Assigned Projects</h3>
    <ul>
        @if (Model.ProjectContractors.Count == 0)
        {
            <li>Not assigned to any projects</li>
        }
        else
        {
            foreach (var project in Model.ProjectContractors)
            {
                <li><a asp-controller="Projects" asp-action="Details" asp-route-id="@project.Projects.ProjectId">@project.Projects.ProjectName</a></li>
            }
        }
    </ul>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ContractorId" title="Edit"><i class="far fa-edit"></i></a> |
    <a asp-action="Delete" asp-route-id="@Model.ContractorId" title="Delete"><i class="fas fa-times"></i></a> |
    <a asp-action="Index">Back to List</a>
</div>
