@model IEnumerable<HitApp.Models.Contractor>

@{
    ViewData["Title"] = "Index";
}

<h2>All Contractors</h2>

<p>
    <a asp-action="Create"><i class="far fa-plus-square"></i> Add New Contractor</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.ContractorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractorCompany)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractorService)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractorEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractorPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractorAdditionalNotes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ContractorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractorCompany)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractorService)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractorEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractorPhone)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ContractorAdditionalNotes)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ContractorId"><i class="far fa-edit"></i></a> |
                <a asp-action="Details" asp-route-id="@item.ContractorId"><i class="far fa-list-alt"></i></a> |
                <a href="/Contractors/Delete/@item.ContractorId"><i class="fas fa-times"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
