@model HitApp.Models.Project

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjectName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProjectStartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjectStartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProjectEndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjectEndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProjectDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjectDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProjectContractorInfo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjectContractorInfo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProjectTotalBudget) 
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjectTotalBudget)
        </dd>
    </dl>
    
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.ProjectId">Edit</a>
    <a asp-action="Delete" asp-route-id="@Model.ProjectId">Delete</a>
    <a asp-action="Index">Back to Projects</a>

</div>


<div>
    <h4>Expenses   Total = @Html.DisplayFor(model => model.ProjectTotalExpenses)</h4>

    @foreach (var expense in Model.Expenses)
    {
        <ul>
            <li>@expense.ExpenseName</li>
            <a asp-controller="Expenses" asp-action="Edit" asp-route-id="@expense.ExpenseId">Edit</a>
            <a asp-controller="Expenses" asp-action="Delete" asp-route-id="@expense.ExpenseId">Delete</a>
        </ul>
    }

   

</div>
 <div>

 <a asp-controller="Expenses" asp-action="Create" asp-route-id="@Model.ProjectId">Create New Expense</a>

 </div>





