@model HitApp.Models.Project

@{
    ViewData["Title"] = "Details";
}

<body id="ProjectDetails">

    <h2>@Model.ProjectName Details</h2>

    <div>
        <h4>Project Info</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ProjectName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ProjectName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ProjectStartDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ProjectStartDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ProjectEndDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ProjectEndDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ProjectDescription)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ProjectDescription)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ProjectContractorInfo)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ProjectContractorInfo)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ProjectTotalBudget)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ProjectTotalBudget)
            </dd>
        </dl>

    </div>


    <div id="ImageUpload">
        <form method="post" action="/Projects/ImageUpload" enctype="multipart/form-data">
            <input type="file" name="image" /><br />
            <input type="submit" value="Upload" />
        </form>
    </div>

    <div id="ProjectCrud">
        <a asp-action="Edit" asp-route-id="@Model.ProjectId"><i class="far fa-edit"></i></a>
        <a asp-action="Delete" asp-route-id="@Model.ProjectId"><i class="fas fa-times"></i></a>
        <a asp-action="Index">Back to Projects</a>

    </div>

    <div id="Contractors">
        <h4>Contractors</h4>
        <a asp-controller="Contractors" asp-action="Create" asp-route-id="@Model.ProjectId"><i class="far fa-plus-square"></i> Add Contractor</a>
        <p></p>
        <a asp-controller="Contractors" asp-action="Index">View All Contractors</a>

        @*<button onclick="showContractors()">Show Contractors</button>*@

        <div id="contractor-table">
            <table class="table">
                <thead>
                    <tr class="contractor-table-header">
                        <th>
                            Name
                        </th>
                        <th>
                            Company
                        </th>
                        <th>
                            Service
                        </th>
                        <th>
                            Phone
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Notes
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="contractor-list">
                    @foreach (var item in Model.ProjectContractors)
                    {

                        <tr data-project-contractor-id="@item.ProjectContractorId">
                            <td>
                                @Html.DisplayFor(modelItem => item.Contractors.ContractorName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Contractors.ContractorCompany)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Contractors.ContractorService)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Contractors.ContractorPhone)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Contractors.ContractorEmail)
                            </td>
                            <td title="@Html.DisplayFor(modelItem => item.Contractors.ContractorAdditionalNotes)" class="truncate">
                                @Html.DisplayFor(modelItem => item.Contractors.ContractorAdditionalNotes)
                            </td>

                            <td>

                                <a asp-controller="Contractors" asp-action="Edit" asp-route-id="@item.Contractors.ContractorId"><i class="far fa-edit"></i></a>
                                <a class="remove-contractor" data-project-contractor-id="@item.ProjectContractorId"><i class="fas fa-times"></i></a>
                                <a asp-controller="Contractors" asp-action="Details" asp-route-id="@item.Contractors.ContractorId"><i class="far fa-list-alt"></i></a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div id="ExpenseTable">
        <h4>Expenses   Total = @Html.DisplayFor(model => model.ProjectTotalExpenses)</h4>

        <div class="add-expense">

            <a asp-controller="Expenses" asp-action="Create" asp-route-id="@Model.ProjectId"><i class="far fa-plus-square"></i> Add Expense</a>

        </div>


        <table class="table">
            <thead>
                <tr class="expense-table-header">
                    <th>
                        Name
                    </th>
                    <th>
                        Total Cost
                    </th>
                    <th>
                        Date Purchased
                    </th>
                    <th>
                        Product Link
                    </th>
                    <th>
                        Notes
                    </th>


                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Expenses)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ExpenseName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ExpenseCost)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ExpenseDatePurchased)
                        </td>
                        <td>
                            <a href="@Html.DisplayFor(modelItem => item.ProductUrl)">@Html.DisplayFor(modelItem => item.ExpenseName)</a>
                        </td>
                        <td title="@Html.DisplayFor(modelItem => item.ExpenseNotes)" class="truncate">
                            @Html.DisplayFor(modelItem => item.ExpenseNotes)
                        </td>

                        <td>

                            <a asp-controller="Expenses" asp-action="Edit" asp-route-id="@item.ExpenseId"><i class="far fa-edit"></i></a>
                            <a asp-controller="Expenses" asp-action="Delete" asp-route-id="@item.ExpenseId"><i class="fas fa-times"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>




    @section Scripts{
        <script src="~/js/Contractors.js"></script>
    }
</body>