@model HitApp.Models.Project

@{
    ViewData["Title"] = "Details";
}


<h2>@Model.ProjectName Project Details</h2>

<div>
    
    @if (Model.ProjectIsOnDashboard == true)
    {
        <h5> Displayed on Dashboard: <i class="far fa-check-circle"></i> </h5>
    }
    else
    {
        <h5> Displayed on Dashboard: <i class="fas fa-ban"></i> </h5>
    }

 

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjectName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProjectStartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjectStartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProjectEndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjectEndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProjectDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjectDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProjectTotalBudget)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjectTotalBudget)
        </dd>
    </dl>

</div>

<div>
    <form method="post" action="/FilePaths/ImageUpload/@Model.ProjectId" enctype="multipart/form-data">
        <input type="file" name="upload" /><br/>
        <input type="submit" value="Upload" />
    </form>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.ProjectId" title="Edit"><i class="far fa-edit"></i></a> |
    <a asp-action="Delete" asp-route-id="@Model.ProjectId" title="Delete"><i class="fas fa-times"></i></a> |
    <a asp-action="Index">Back to Projects</a>

</div>

<div>
    <h4>Contractors</h4>
    <a asp-controller="Contractors" asp-action="Create" asp-route-id="@Model.ProjectId"><i class="far fa-plus-square"></i> Add Contractor</a>
    <p></p>
    <a asp-controller="Contractors" asp-action="Index">View All Contractors</a>

    @*<button onclick="showContractors()">Show Contractors</button>*@

    <div id="contractor">
        <table class="table">
            <thead>
                <tr id="contractor-header">
                    <th>
                        Name
                    </th>
                    <th>
                        Company
                    </th>
                    <th>
                        Service
                    </th>
                    <th>
                        Phone
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Notes
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="contractor-list">
                @foreach (var item in Model.ProjectContractors)
                {

                    <tr data-project-contractor-id="@item.ProjectContractorId">
                        <td>
                            <a asp-controller="Contractors" asp-action="Details" asp-route-id="@item.Contractors.ContractorId" title="Details">
                                @Html.DisplayFor(modelItem => item.Contractors.ContractorName)
                             </a>
</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Contractors.ContractorCompany)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Contractors.ContractorService)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Contractors.ContractorPhone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Contractors.ContractorEmail)
                        </td>
                        <td title="@Html.DisplayFor(modelItem => item.Contractors.ContractorAdditionalNotes)" class="truncate">
                            @Html.DisplayFor(modelItem => item.Contractors.ContractorAdditionalNotes)
                        </td>

                        <td>

                            <a asp-controller="Contractors" asp-action="Edit" asp-route-id="@item.Contractors.ContractorId" title="Edit"><i class="far fa-edit"></i></a> |
                            <a class="remove-contractor" data-project-contractor-id="@item.ProjectContractorId" title="Remove"><i class="fas fa-times"></i></a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div>
    <h4>Expenses   Total = @Html.DisplayFor(model => model.ProjectTotalExpenses)</h4>

    @*@foreach (var expense in Model.Expenses)
        {
            <ul>
                <li>Expense Name: @expense.ExpenseName
                    <ul>
                        <li>Cost: $@expense.ExpenseCost</li>
                        <li>Date Purchased: @expense.ExpenseDatePurchased.ToShortDateString()</li>
                        <li>Notes: @expense.ExpenseNotes</li>
                    </ul>
                </li>
                <li id="expense-links">
                    <a asp-controller="Expenses" asp-action="Edit" asp-route-id="@expense.ExpenseId">Edit</a>
                    <a asp-controller="Expenses" asp-action="Delete" asp-route-id="@expense.ExpenseId">Delete</a>
                </li>
            </ul>
        }*@

    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Total Cost
                </th>
                <th>
                    Date Purchased
                </th>
                <th>
                    Product Link
                </th>
                <th>
                    Notes
                </th>


                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Expenses)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpenseName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpenseCost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpenseDatePurchased)
                    </td>
                    <td>
                        <a href="@Html.DisplayFor(modelItem => item.ProductUrl)">@Html.DisplayFor(modelItem => item.ExpenseName)</a>
                    </td>
                    <td title="@Html.DisplayFor(modelItem => item.ExpenseNotes)" class="truncate">
                        @Html.DisplayFor(modelItem => item.ExpenseNotes)
                    </td>

                    <td>

                        <a asp-controller="Expenses" asp-action="Edit" asp-route-id="@item.ExpenseId" title="Edit"><i class="far fa-edit"></i></a> |
                        <a asp-controller="Expenses" asp-action="Delete" asp-route-id="@item.ExpenseId" title="Delete"><i class="fas fa-times"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
<div>

    <a asp-controller="Expenses" asp-action="Create" asp-route-id="@Model.ProjectId"><i class="far fa-plus-square"></i> Add Expense</a>

</div>

<div>
    <h4><a href="/FilePaths/Index/@Model.ProjectId">View Images</a></h4>
</div>


@section Scripts{
    <script src="~/js/Contractors.js"></script>
}
